.profile img {
    width: 20px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid black;
}

header {
    display: flex;
    justify-content: space-between;
}